doctype html
html
	head
		meta(charset="utf-8")
		title
		meta(content="yes" name="apple-mobile-web-app-capable")
		meta(content="yes" name="apple-touch-fullscreen") 
		meta(content="telephone=no,email=no" name="format-detection")
		meta(name="App-Config" content="fullscreen=yes,useHistoryState=yes,transition=yes")
		meta(name="keywords" content="")
		meta(name="description" content="")
		block css
		include ./pdr
	body
		block content
		block script