.head{
	width:750px;
	height:88px;
	color: #4A4A4A;
}
.head a,.head i{
	position:absolute;
	top:0;
	height:88px;
	line-height:88px;
}
.head a{
	left:40px;
	width:30px;
	color: #4A4A4A;
	font-size:40px;
}
.head p{
	height:88px;
	line-height:88px;
	font-size: 36px;
	text-align:center;
	
}
.head i{
	right:42px;
	font-size: 30px;

}