<!DOCTYPE html>
<html lang="Zh-cn">
<!-- 引入头部文件 -->
@@include("../../components/header/head.html", {
  "title": "BrowserSync - gulp配置demo"
}) 
<!-- 引入动态计算html font-size script  -->
@@include("../../components/flexible.html")   
<body>
  <div class="container">
    <div class="login-form">
      <div class="form-body">
<!--         <div class="in-logonBox" style="display: block;">
          <div class="ln-row">
            <span class="ln-span">账号：</span>
            <input class="ln-input" type="text">
          </div>
          <div class="ln-row">
              <span class="ln-span">密码：</span>
              <input class="ln-input" type="text">
          </div>
          <div class="ln-rowTwo">
              <a class="ln-logon" href="##">注册账号</a>
              <button class="ln-goGame" onclick="javascript:window.location.href='main.html'">进入游戏</button>
              <a class="ln-forgetPassword" href="##">忘记密码</a>
          </div>
        </div> -->
      </div>
    </div>
  </div>
  <!-- 引入页面底部内容 -->
<!--   @@include("../../components/footer/footer.html", {
    "title": "这是页面底部",
    "btn": "这是一个按钮"
  })  -->
  <script type="text/javascript" src="/static/js/jquery3.2.1.min.js"></script>
  <script type="text/javascript" src="./demo.min.js"></script>
</body>
</html>

