<!DOCTYPE html>
<html lang="Zh-cn" class="hf-mobile">
<head>
  <meta charset="utf-8">
  <title>BrowserSync - gulp配置demo</title>
  <meta name="keywords" content="browsersync"/>
  <meta name="description" content="browsersync + gulp配置d"/>  
  <link rel="shortcut icon" type="image/x-icon" href="//static.hzjiehun.bid/image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="./demo.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
</head>
<body>
	<h3 style="font-size: 14px; padding: 20px;">这是一个非常简易的DEMO，主要是为了让你熟悉browsersync+gulp的基本配置</h3>
	<div id="bhs"></div>

  </body>
  <script type="text/javascript" src="/static/js/jquery3.2.1.min.js"></script>
  <script type="text/javascript" src="./demo.min.js"></script>
</html>

